<!DOCTYPE html>
<html>
<body>
    <%- include('partials/_header') %>
<h1>Registration Page</h1>
<form method="POST" action="/register">
  <label>Email:</label>
  <input type="email" name="email"/>
  <label>Password:</label>
  <input type="password" name="password"/>
  <button type="submit">Register</button>
</form>


</body>
</html>