<!DOCTYPE html>
<html>
<body>
<%- include('partials/_header') %>
<h1>Login Page</h1>
<form method = "POST" action="/login">
  Email: <input type="email" name="email"/>
  Password:<input type="password" name="password"/>
  
  <input type="submit" value="Submit!"/>
</form>

</body>
</html>